
body {
    padding: 50px;
}

article {
    margin: auto;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
}

.link {
    float: right;
    margin-left: 30px;
}

span {
    margin: 10px;
}
