
body {
    padding: 50px;
}

article {
    margin: auto;
    width: 300px;
/*    padding: 20px;*/
    border: 1px solid black;
}

.link {
    position: relative;
    background-color: #1abc9c;
}

span {
    margin: 10px;
}
